
@import url('./style-popup.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat' , sans-serif;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header {
    color: white;
    background-color: black;
}

header h1 {
    font-size: 35px !important;
}

.header_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw;
}

.header_links {
    display: flex;
}

.header_links a {
    font-size: clamp(20px,1vw,30px);
    text-decoration: none;
    text-align: center;
    color: white;
    padding: 2vh 1vh;
    border: solid 0.13vw;
    border-radius: 100vw;
    width: clamp(120px,10vw,180px);
    margin-left: 2vw;
    transition: all 0.15s;
}

.header_links a:hover {
    transition: all 0.3s;
    background-color: white;
    color: black;
}

.main_wrap {
    display: flex;
}



.text_wrap {
    padding-top: 50px;
    margin-bottom: 10px;
}

.text_wrap {
    padding: clamp(30px,2vw,50px);
}

.welcome_text{
    font-size: clamp(25px,  2.5vh , 30px);
}
.question_wrap {
    width: 90%;
}

.buttons_box {
    display: flex;
    justify-content: space-around;
}

.question_wrap button {
    font-size: 60px;
    font-weight: 900;
    padding: 50px;
    margin-bottom: 20px;
    border-radius: 25px;
    border: 0px;
    cursor: pointer;
    transition: all 0.3s;
    width: 210px;
    height: 170px;

    position: relative;
}

.very_easy_questions button{
    background-color: rgb(171, 219, 243);
    color: rgb(51, 102, 136);
}

.very_easy_questions button:hover{
    box-shadow: 0px 0px 23px 11px rgba(171, 219, 243, 0.55);
    transition: all 0.3s;
}

.easy_questions button{
    background-color: rgb(60, 186, 148);
    color: rgb(250, 250, 250);
}

.easy_questions button:hover{
    box-shadow: 0px 0px 23px 11px rgba(60, 186, 148, 0.35);
    transition: all 0.3s;
}

.middle_questions button{
    background-color: rgb(51, 102, 136);
    color: rgb(250, 250, 250);
}

.middle_questions button:hover{
    box-shadow: 0px 0px 23px 11px rgba(51, 102, 136, 0.35);
    transition: all 0.3s;
}

.middle_hard_questions button{
    background-color: rgb(2, 94, 161);
    color: rgb(250, 250, 250);
}

.middle_hard_questions button:hover{
    box-shadow: 0px 0px 23px 11px rgba(2, 94, 161, 0.35);
    transition: all 0.3s;
}

.hard_questions button{
    background-color: rgb(93, 15, 104);
    color: rgb(250, 250, 250);
}

.hard_questions button:hover{
    box-shadow: 0px 0px 23px 11px rgba(143, 3, 236, 0.35);
    transition: all 0.3s;
}

.logo_wrap {
    margin-left: auto;
}

.logo_wrap img{
    padding: 25px;
    height: 700px;
    width: auto;
}

.score_wrap {
    display: flex;
    margin-left: 150px;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
}

.score_wrap div{
    display: flex;
    margin-right: 40px;
    align-items: center;
}
.score_wrap p{
    font-size: 1.3vw;
    margin-right: 40px;
}

.points, .tryes {
    background-color: rgb(217, 217, 217);
    padding: 5px;
    padding-left: 35px;
    padding-right: 35px;
    border-radius: 15px;
}

.state_marker {
    position: absolute;
    
    top: -5px;
    right: 5px;
}

.state_marker img {
    width: 50px;
    
    background-color: white;
    border-radius: 100%;
}

.button_results{
    color: white;
    background-color: rgb(0, 114, 192);
    padding: .8vw;
    border-radius: .8vw;
    border: none;
    font-size: 1.1vw;
    cursor: pointer;
    transition: all 0.3s;
}
.button_results:hover{
    box-shadow: 0px 0px 23px 11px rgba(51, 102, 136, 0.35);
    transition: all 0.3s;
}

.btn_closed{
    display: none;
}

@media (max-width: 1280px){
    .question_wrap button{
        padding: 0px !important;
    }
}

@media (width <= 1280px) {
    header h1 {
        font-size: 30px !important;
    }

    .header_links a {
        font-size: 20px;
        padding: 12px;
        padding-left: 25px;
        padding-right: 25px;
        width: 150px;
        margin-left: 20px;
    }

    .question_wrap button {
        font-size: 30px;
        padding: 10px;
        margin-bottom: 10px;
        width: 150px;
        height: 130px;
    }

    .text_wrap {
        padding-top: 40px;
        margin-bottom: 40px;
        margin-left: 35px;
    }
    
    .welcome_text{
        font-size: 2.1vh;
    }

    .logo_wrap img{
        padding-top: 40px;
        height: 600px !important;
        width: 75px !important;
    }
    
    .score_wrap {
        margin-left: 55px;
        margin-top: 15px;
        margin-bottom: 20px;
    }
    
    .score_wrap div{
        margin-right: 30px;
    }
    .score_wrap p{
        font-size: 2.5vw;
        margin-right: 20px;
    }
    
    .points, .tryes {
        padding-left: 25px;
        padding-right: 25px;
        border-radius: 13px;
    }

    .state_marker {
        
        top: 3px;
    }
    
    .state_marker img {
        width: 35px;
    }
}
@media (max-width: 1180px) {
    .question_wrap button {
        font-size: 25px;
        width: 120px;
        height: 130px;
    }

    .text_wrap {
        padding: clamp(30px, 2vw, 50px);
    }

    .welcome_text {
        font-size: clamp(20px, 2vh, 30px);
    }

    .logo_wrap img{
        padding-top: 45px;
        height: 950px;
        width: 100px;
    }

    .score_wrap {
        padding-top: 50px;
        font-size: 1.3vw;
    }

    .state_marker {
        top: 5px;
        left: 4px;
    }
    
    .state_marker img {
        width: 30px;
    }
}

@media (max-width: 1180px){
    .question button{
        font-size: 40px;
        border-radius: 15px;
        width: 130px;
        height: 130px;
    }

    .questions_btns{
        flex-wrap: wrap;
    }

    .state_marker{

        top: 1px;
        right: 5px;
    }

    .header_links a {
        font-size: clamp(20px,1vw,30px);
        text-decoration: none;
        text-align: center;
        color: white;
        padding: 2vh 1vh;
        border: solid 0.13vw;
        border-radius: 100vw;
        width: clamp(120px,10vw,180px);
        margin-left: 2vw;
        transition: all 0.15s;
    }
}


@media (max-width: 820px){
    .header_links a {
        font-size: clamp(20px,1vw,30px);
        text-decoration: none;
        text-align: center;
        color: white;
        padding: 2vh 1vh;
        border: solid 0.13vw;
        border-radius: 100vw;
        width: clamp(120px,10vw,180px);
        margin-left: 2vw;
        transition: all 0.15s;
    }

    .state_marker{
        top: 1px;
        right: 5px;
    }
    
    .score_wrap{
        font-size: 25px !important;
    }
    
    .logo_wrap{
        display: none;
    }
    
    .question_wrap{
        width: 100% !important;
    }

    .text_wrap{
        margin-left: 0 !important;
    }
    .question button{
        margin: 1px;
        width: 115px;
    }
    .header_links a {
        padding: 1vh;
    }

    .question_type_0_answers p{
        font-size: 1.25vw;
    }

    .question_type_1_answers p{
        font-size: 1.25vw;
    }

    .popup_question p{
        font-size: 1.5vw;
    }
    .popup_bottom input[type=submit]{
        font-size: 1.25vw;
        width: 60px;
        height: 20px;
    }
}

@media (max-width: 540px){
    .question button{
        font-size: 30px;
        border-radius: 15px;
        width: 100px;
        height: 100px;
    }
}